@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --primary-green: #7BC950;
    --primary-purple: #9A48D0;
    --black: #333;
    --gray: #FAFAFA;
    --white: #FFF;
    --red: #EB1515;
    --dark-gray: #C2C2C2
}


