@import url("../../styles/variables.css");

.fragments-page{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
}

.fragments-page .fragment{
    width: 251px;
    height: 280px;
}

.fragments-page .fragment .top .icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fragments-page .fragment .top-background{
    background-image: url("../../assets/236235597_11075021.jpg");
    background-position: center;
    background-size: 94%;
    background-repeat: no-repeat;
}

.fragments-page .fragment .top{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding: 18px 16px;
    border: 1px solid var(--black);
    border-bottom: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* background: contain no-repeat url("../../assets/236235597_11075021.jpg"), rgba(0, 0, 0, 0.5) ; */
    background-color: rgba(0, 0, 0, 0.3);
}

.fragments-page .fragment .top .fragment-title{
    font-weight: 600;
    color: var(--gray);
}

.fragments-page .fragment .bottom{
    /* position: relative; */
    display: flex;
    margin: auto;
    padding: 20px 30px;
    box-sizing: initial;
    border: 1px solid var(--black);
    height: 109px;
    overflow-y: auto;
    /* scrollbar-gutter: stable; */
    /* outline: 1px solid var(--black); */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
  
  /* ::-webkit-scrollbar-thumb{
    background-color: var(--primary-green);
    border-radius: 5px;
  } */

.fragments-page .fragment .bottom .tags{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* align-content: flex-start; */
    /* padding: 0 auto; */
    /* margin: 0 auto; */
    column-gap: 5px;
    row-gap: 20px;
    width: max-content;
    margin: auto;
}

.fragments-page .fragments2{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: calc(100% - 100px);
}

.fragments-page .fragment2{
    display: flex;
    background-color: var(--gray);
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow-y: auto;
    border: 2px solid var(--dark-gray);
    padding: 10px;
    border-radius: 10px;
}

.fragments-page .fragment2 .fragment-title{
    font-weight: 500;
}

.fragments-page .fragment2 .icons{
    display: flex;
    column-gap: 10px;
    margin: 0px 5px;
}

.fragments-page .fragment2 .right{
    display: flex;
}




.fragments-page .tag{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-purple);
    background-color: var(--white);
    border: 1px solid var(--primary-purple);
    font-size: 10px;
    font-weight: 500;
    border-radius: 25px;
    padding: 5px 20px;
    min-height: 23px;
    max-width: 100%;
    text-align: center;
    word-break: break-word;
}

.fragments-page .fragment2 .right .tags{
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    max-height: 100px;
    overflow-y: auto;
    width: 300px;
    /* text-align: center; */
    /* word-break: break-word; */
    column-gap: 5px;
    row-gap: 5px;
}

.fragments-page .fragment2 .tag{
    /* columns: 2; */
    background-color: var(--primary-purple);
    border: 1px solid var(--white);
    color: var(--white);
    min-height: max-content;
    width: max-content;

}

.fragments-page .fragments{
    width: calc(100% - 100px);
    display: flex;
    flex-flow: row wrap;
    /* align-content: center; */
    gap: 30px;
}

.fragments-page .fragments > *{
    margin: auto;
}

.fragments-page .actions{
    display: flex;
    width: calc(100% - 100px);
    justify-content: space-between;
}

.fragments-page .actions button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--primary-green);
}

.fragments-page .actions .switch-display{
    display: flex;
    align-items: center;
    column-gap: 10px;
    background-color: var(--secondary-dark-gray);
    height: max-content;
    width: max-content;
    border-radius: 7px;
}

/* .tags-page .switch-display{


} */

.fragments-page .switch-display #rows{
    background-color: var(--secondary-dark-gray);
    /* background-color: var(--primary-purple); */
    color: var(--white);
    border-radius: 7px;
    padding: 5px 5px 0;
    height: calc(max-content - 5px);
    width: max-content;
}

.fragments-page .switch-display #squares{
    background-color: var(--primary-purple);
    border-radius: 7px;
    padding: 5px 5px 0;
    height: fit-content;
    width: max-content;
}

.fragments-page .modal-container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
}

.fragments-page .modal-code{
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: var(--white);
    margin: auto;
    padding: 30px;
    border-radius: 20px;
}

.fragments-page .modal-code .close{
    position: absolute;
    right: 30px;
    top: 25px;
}

.fragments-page .modal-code h2{
    font-weight: 600;
}

.fragments-page .modal-code .code{
    display: flex;
    border: 2px solid var(--dark-gray);
    border-radius: 20px;
    font-size: 0.6rem;
    padding: 20px;
    width: 100%;
    height: 350px;
    overflow: auto;
}

.fragments-page .modal-code button{
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid var(--white);
    color: var(--white);
    background-color: var(--primary-green);
    align-self: flex-end;
}

/* .fragments-page .switch-display #squares svg{
    color: var(--white)
} */

